/* add css module styles here (optional) */

.test {
  margin: 4em 20em;
  padding: 0.5em;
  font-size: 1em;
}

.card {
  background: #fff;
    border-radius: 2px;
    padding: 40px;
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.float1 {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.float2 {
  margin-right: 20px;
  margin-left: 5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.float {
  display: inline;
}

.flex {
  display: flex;
  border-bottom: 1px solid black;
}
